﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewBag.Title = Localizer["User List"];
}


<h2>@ViewBag.Title</h2>
<div class="row" style="margin-top: 10px">
    <div class="col-xs-12">
        <table id="grid" data-source="@Url.Action("GetUsersList", "ApiAdmin")" data-ui-library="bootstrap" data-title="@Localizer["Users"]">
            <thead>
            <tr>
                <th data-field="userName">@Localizer["User Name"]</th>
                <th></th>
            </tr>
            </thead>
        </table>
    </div>
</div>

@await Html.PartialAsync("_GridScriptsPartial")
<script src="~/js/userList.js"></script>