﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewBag.Title = Localizer["User Logs"];
}

<h2>@Localizer["User Logs"]</h2>
<div class="container-full">
<div class="row" style="margin-top: 10px">
<div class="col-xs-12">
<table id="grid" data-source="@Url.Action("GetUsersLogs", "ApiAdmin")" data-ui-library="bootstrap" data-title=@Localizer["Logs"]>
                <thead>
                <tr>
                    <th data-field="userId">@Localizer["User ID"]</th>
                    <th data-field="userName">@Localizer["User Name"]</th>
                    <th data-field="logTime">@Localizer["Log Time"]</th>
                    <th data-field="ationType">@Localizer["Ation Type"]</th>
                    <th data-field="message">@Localizer["Message"]</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
@await Html.PartialAsync("_GridScriptsPartial")
<script src="~/js/userLogs.js"></script>