﻿@using Microsoft.AspNetCore.Mvc.Localization
@using WeatherMetrics.ViewModels.Dashboard
@model IEnumerable<WeatherViewModel>
@inject IViewLocalizer Localizer

<table class="table">
<thead>
    <tr>
        <th>@Localizer["City"]</th>
        <th>@Localizer["Temperature"]</th>
        <th>@Localizer["Temperature (Max)"]</th>
        <th>@Localizer["Temperature (Min)"]</th>
    </tr>
</thead>
    <tbody>
    @foreach (WeatherViewModel weather in Model)
    {
        <dashboard-row weather="@weather"></dashboard-row>
    }
    </tbody>
</table>
