﻿@using System.Threading.Tasks
@using Microsoft.AspNetCore.Mvc.Localization
@model ForgotPasswordViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Forgot your password?"];
}

<h3>@ViewData["Title"]</h3>

<form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal">
        <h4>@Localizer["Enter your email."]</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label">@Localizer["Email"]</label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default">@Localizer["Submit"]</button>
            </div>
        </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
