﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = Localizer["Cities Management"];
}

<h2>@ViewBag.Title</h2>

<input id="pac-input" class="controls" type="text"
       placeholder="Enter a location">
<div id="map"></div>

<div class="container-full">
    <div class="row">
        <div class="col-xs-8">
            <form class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" id="txtQuery" placeholder="@Localizer["Search"]...">
                </div>
                <button id="btnSearch" type="button" class="btn btn-default">@Localizer["Search"]</button>
                <button id="btnClear" type="button" class="btn btn-default">@Localizer["Clear"]</button>
            </form>
        </div>
    </div>
    <div class="row" style="margin-top: 10px">
        <div class="col-xs-12">
            <table id="grid" data-source="@Url.Action("GetCity", "ApiCity")" data-ui-library="bootstrap" data-title="Players">
                <thead>
                    <tr>
                        <th data-field="id" width="32">@Localizer["ID"]</th>
                        <th data-field="name" >@Localizer["Name"]</th>
                        <th data-field="country">@Localizer["Country"]</th>
                        <th data-field="lon">@Localizer["Lon"]</th>
                        <th data-field="lat">@Localizer["Lat"]</th>
                        <th data-events="click: ShowAlert" data-type="icon" data-icon="glyphicon-info-sign" width="32"></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
@await Html.PartialAsync("_GridScriptsPartial")
<script src="~/js/GetCity.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAevHtjteMBsUnyBC6bd82plrJ-Fqpfqk4&libraries=places&signed_in=true&callback=initMap" async defer></script>