﻿@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@using WeatherMetrics.Domain.Core.Models
@inject IViewLocalizer Localizer
@inject UserManager<User> UserManager
@{
    ViewBag.Title = Localizer["Dashboard"];
}

<h2>@Localizer["Your cities"]</h2>
@await Component.InvokeAsync("UserDashboard", new { userName = UserManager.GetUserName(User) })